/*
------------
RESET
------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
------------
DEBUG
------------
*/
.debug .first-header {
    background-color: #add8e6;
}

.debug .first-header div {
    background-color: #daa520;
    margin: 18px 0;
    border: 2px dashed black;
}

.debug .second-header {
    background-color: #00008b;
    height: 520px;
}

.debug .header-box {
    background-color: #ee82ee;
    height: 415px;
    border: 2px dashed black;
}


/*
------------
HEADER
------------
*/

.first-header {
    justify-content: center;
}

.first-header div {
    padding: 10px;
    display: flex;
}

.logo,
.login {
    width: 250px;
}

.link {
    width: 745px;
    justify-content: center;
}

.login {
    justify-content: flex-end;
}

.header-box {
    width: 945px;
    margin: 0 auto;
    align-self: center;
}

/*
------------
MAIN
------------
*/

/*
------------
COMMON
------------
*/

.flex {
    display: flex;
}

/*
------------
FOOTER
------------
*/